includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    # - vendor/phpstan/phpstan/conf/bleedingEdge.neon  # TODO: Re-enable once all errors are fixed
parameters:
    level: 6
    paths:
        - .
    excludePaths:
        - vendor/*
        - assets/*
        - tests/*
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    # Ignore known issues from inherited code - TODO: fix these properly
    ignoreErrors:
        # Array value types - TODO: add proper array<key, value> types later
        - '#no value type specified in iterable type array#'
        # Dynamic properties (common in WordPress plugins)
        - '#Access to an undefined property#'
        - '#Variable \$dianxiaomi_fields might not be defined#'
        # Custom plugin functions defined in main file
        - '#Function wpdate not found#'
        - '#Function get_dianxiaomi_currency not found#'
        - '#Function get_dianxiaomi_currency_symbol not found#'
        - '#Function get_dianxiaomi_api_url not found#'
        # Return type mismatches with WP_Error (WordPress pattern)
        - '#should return array but returns WP_Error#'
        # WooCommerce Order Item methods
        - '#Call to an undefined method WC_Order_Item::#'
        # Type checking issues from inherited code
        - '#Parameter .* of function in_array expects array#'
        - '#Parameter .* expects int, string given#'
        - '#Instanceof between .* and WP_Error will always evaluate to false#'
        - '#Call to function is_wp_error\(\) with array will always evaluate to false#'
        - '#is_wp_error\(array\) will always evaluate to false#'
        # WooCommerce API access (deprecated but still used)
        - '#Access to private property WooCommerce::\$api#'
        - '#Access to property .* on an unknown class WC_API#'
        # Parameter type mismatches
        - '#Parameter .* expects array\|null, string\|null given#'
