includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    # - vendor/phpstan/phpstan/conf/bleedingEdge.neon  # TODO: Re-enable once all errors are fixed
parameters:
    level: 8
    paths:
        - .
    excludePaths:
        - vendor/*
        - assets/*
        - tests/*
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
        - dianxiaomi-functions.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    # Remaining issues from inherited code
    ignoreErrors:
        # Array value types - would require major refactoring to add proper types
        - '#no value type specified in iterable type array#'
        # Global variable from config file
        - '#Variable \$dianxiaomi_fields might not be defined#'
        # Defensive checks - is_wp_error on known-array values (intentional safety)
        - '#should return array but returns WP_Error#'
        - '#Instanceof between .* and WP_Error will always evaluate to false#'
        - '#Call to function is_wp_error\(\) with array will always evaluate to false#'
        - '#is_wp_error\(array\) will always evaluate to false#'
        # WooCommerce API access (deprecated but still used) - TODO: refactor to modern API
        - '#Access to private property WooCommerce::\$api#'
        - '#Access to property .* on an unknown class WC_API#'
