includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    # - vendor/phpstan/phpstan/conf/bleedingEdge.neon  # TODO: Re-enable once all errors are fixed
parameters:
    level: 10
    paths:
        - .
    excludePaths:
        - vendor/*
        - assets/*
        - tests/*
    scanFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
        - dianxiaomi-functions.php
    treatPhpDocTypesAsCertain: false
