name: WPCS check

on:
  push:
    branches: [ main ]
    paths:
      - 'dianxiaomi/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'dianxiaomi/**'

jobs:
  phpcs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.1', '8.2', '8.3']
    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress
        working-directory: dianxiaomi

      - name: Run PHPCS
        run: vendor/bin/phpcs --standard=phpcs.xml --ignore=vendor .
        working-directory: dianxiaomi