name: WPCS check

on: push

jobs:
  phpcs:
    name: WPCS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: WPCS check
        uses: 10up/wpcs-action@stable
        with:
          standard: 'WordPress' # Standard to use. Accepts WordPress|WordPress-Core|WordPress-Docs|WordPress-Extra|WordPress-VIP-Go|WordPressVIPMinimum|10up-Default.
          paths: 'dianxiaomi/'
          use_local_config: 'true'
